/*Color palette generated through https://coolors.co/*/

html{
    scroll-behavior: smooth;
}

body{
  background-color: #F6F5F4;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: B612, Geneva, sans-serif;
}

body a {
  color: black;
}

.skip a{
  background: #e3e0ddbf;
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: -50px;
  padding: 7px;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  z-index: 1;
}

.skip a:focus {
  top: 10px;
}

header{
  background-attachment: fixed; /*Parallax effect */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  height:auto;                  /*Parallax effect*/
  color: #F6F5F4;
  box-shadow: 0 0 10px #241909;
  background-image: url('../images/home_image.jpg');
}

nav {
  background-color: transparent;
  display: grid;
  place-items: center;
}

nav li a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #F6F5F4;
  font-weight: bold;
}

nav a {
  padding: 0.5em; 
  /* changed - was 1rem 0.5rem */
}

h1 {
  font-size: 50px;
  line-height: 1;
  padding: 0.15em;
  margin: 0 0.25em 0.25em;
  text-align: center;
  border: 1px solid #241909;
  border-radius: 2px;
  background-color: rgba(36, 25, 9, 88%);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

header p {
  color: #F6F5F4;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 24px;
  text-align: center;
  border: 1px solid #241909;
  border-radius: 2px;
  margin: 0 0.5em 0.5em;
  padding: 0.5em;
  background-color: rgba(36, 25, 9, 88%);
}

#content-mobile {
  display:block;
}
#content-nonmobile {
  display:none;
}

/* Dropdown list modified from
https://www.w3schools.com/css/css_dropdowns.asp, 
https://moderncss.dev/css-only-accessible-dropdown-navigation-menu/,
and https://lage.us/CSS-Onclick-Dropdown-Menu.html*/

.dropdown {
  position: relative;
  display: inline-block;
  z-index:2; 
  padding:0;
  margin:10%;
  outline:0;
  text-align: center;
}

/* style for the button */
.dropdown:before {
  content: "Menu"; 
  color:#F6F5F4;
  padding: 5px 10px;
  border: 1px solid #AB9F9B;
  border-radius: 2px;
  background: #73130B;
}

.dropdown:focus { 
  pointer-events:none; 
}

/* If :focus detected the dropdown menu is displayed by making it visible */
.dropdown:focus .dropdown-content { 
  opacity:1; 
  visibility:visible; 
}

.dropdown-content {
  background-color: #73130B;
  box-shadow: 40px rgba(36,25,9,0.2);
  padding: 0.5em 1em; 
  text-align: center;
  pointer-events: auto;
  position: absolute;
  /* Pull up to overlap the parent list item very slightly */
  top: calc(100% - 0.25rem);
  /* Use the left from absolute position to shift the left side */
  left: 50%;
  /* Use translateX to shift the menu 50% of its width back to the left  */
  transform: translateX(-50%);
  transform-origin: top center;
  opacity: 0.3;
  visibility: hidden;
  transition: 280ms all ease-out;
  z-index: 1;
  border-radius:2px;
  box-shadow: 0 0 10px #241909;
}

/* Custom bullet points from https://isotropic.co/how-to-set-custom-bullets-in-ul-lists/ */
/*add icon to current link*/
#home_icon:before {
  content: url("../images/noun_shaker_dark_small.png");
}

#martini_icon:before {
  content: url("../images/noun_martini_icon_small.png")
}

#old_fashioned_icon:before {
  content: url("../images/noun_old_fasioned_icon_small.png")
}

#whiskey_sour_icon:before {
  content: url("../images/noun_whiskey_sour_icon_small.png")
}

#manhattan_icon:before {
  content: url("../images/noun_Manhattan_icon_small.png")
}

#moscow_mule_icon:before {
  content: url("../images/noun_copper_cup_small.png")
}

#gallery_icon:before {
  content: url("../images/noun_shaker_outline_small.png")
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.history {
  padding: 1em 0 0 0;
}

.history p{
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
  color: black;
  margin: 0.5em;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}

img {
  /* flex: 100%; */
  width: 90%;
  box-shadow: 0 0 10px #241909;
  padding: 0;
  margin: 1em;
  align-self: center;
}

.recipe {
  /* flex: 100%; */
  width: 80%;
  border: 10px solid #241909;
  border-style: inset;
  padding: 0.5em;
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
  color: black;
  background-color: #e3e0ddbf;
}

.recipe ul {
  padding: 0.5em 0.25em 0.5em 1em;;
}

.recipe p{
  text-align: center;
}

h3{
  font-size: 26px;
  line-height: 1.5;
  text-align: left;
  font-weight: normal;
}

footer{
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: #241909;
  color: #F6F5F4;
  padding: 1em 0.5em 0.5em 0;
  text-align: center;
  box-shadow: 0 0 10px #241909;
}

/* Image gallery modified from https://www.w3schools.com/css/css_image_gallery.asp*/
/* https://www.w3schools.com/howto/howto_css_flip_card.asp, 
https://www.smashingmagazine.com/2020/02/magic-flip-cards-common-sizing-problem/ */

.gallery {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.basic_card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.gallery h2 {
  display: none;
  position: absolute;
  border: 10px solid #241909;
  border-style: inset;
  padding: 0.5em;
  background-color: #e3e0ddbf;
  z-index: -1;
}

.gallery a {
  text-decoration: none;
}

.gallery img {
  position: relative;
  order: 1;
}

.gallery img:focus {
  filter:grayscale;
}

/* .gallery:focus {
  pointer-events:none;
} */

/* If :focus detected the color changes */
/* .gallery:focus img {
  -webkit-animation-name: color_change;
    animation-name: color_change;
  -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 
}

@-webkit-keyframes color_change {
  0% {filter:grayscale();}
  100% {filter:none;}
}

@keyframes color_change {
  0% {filter:grayscale();}
  100% {filter:none;}
} */

@media all and (min-width: 880px){
  
  header{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: #F6F5F4;
    height:fit-content;           /*Parallax effect*/
    box-shadow: 0 0 10px #241909;
    background-image: url('../images/home_image.jpg');
  }
  
  #content-mobile, #content-nonmobile {
    display:block;
    padding: 0 8em;
    border: none;}
  .container {
    flex-direction: row;
  }
  .recipe {
    padding: 10px;
    flex: 50%;
  }
  img {
    padding: 10px;
    flex: 50%;
  }
  .gallery h2 {
    display: block;
    position: absolute;
    border: 10px solid #241909;
    border-style: inset;
    padding: 0.5em;
    background-color: #e3e0ddbf;
    z-index: -1;
  }
  .gallery img:hover, img:focus {
    opacity: 0.15;
  }
  /* .drink_image {
    padding: 10px;
    flex: 50%;
  } */
}

/*The code below is included for accessibility to turn off 
  animations and movement for people who have modified their 
  preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}