/*Color palette generated through https://coolors.co/*/
/* Custom cursors designed using https://css-tricks.com/using-css-cursors/ */
/* Icon image is "olive" by Marie Van den Broeck, BE, 
https://thenounproject.com/marie49/collection/cocktails/?i=168115 - note that I 
recolored and resized the icon to make it work as a cursor. */

html{
    scroll-behavior: smooth;
}

body{
  background-color: #F6F5F4;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body a {
  color: black;
}

.skip a{
  background: #e3e0ddbf;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  left: 0.25em;
  top: -50px;
  padding: 7px;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  z-index: 1;
}

.skip a:focus {
  top: 10px;
}

header{
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  height:auto;                  /*Parallax effect */
  color: #F6F5F4;
  box-shadow: 0 0 10px #241909;
  background-image: url('../images/home_image.jpg');
}

nav {
  background-color: transparent;
  display: grid;
  place-items: center;
  font-weight: bold;
}

nav li {
  display: block;
  margin: 0.5em;
}

nav li a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #F6F5F4;
  
}

h1 {
  font-size: 50px;
  line-height: 1;
  padding: 0.15em;
  margin: 0.5em 0.25em 0.25em;
  text-align: center;
  border: 1px solid #241909;
  border-radius: 2px;
  background-color: rgba(75, 13, 7, 90%);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

header p {
  color: #F6F5F4;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 24px;
  text-align: center;
  border: 1px solid #241909;
  border-radius: 2px;
  margin: 0 0.5em 0.5em;
  padding: 0.5em;
  background-color: rgba(75, 13, 7, 90%);
}

#content-mobile {
  display:block;
}
#content-nonmobile {
  display:none;
}

/* Dropdown list modified from
https://www.w3schools.com/css/css_dropdowns.asp, 
https://moderncss.dev/css-only-accessible-dropdown-navigation-menu/,
and https://lage.us/CSS-Onclick-Dropdown-Menu.html*/

.dropdown {
  position: relative;
  display: inline-block;
  z-index:2; 
  padding:0;
  margin:10%;
  outline:0;
  text-align: center;
}

/* style for the button */
.dropdown:before {
  content: "Menu"; 
  color:#F6F5F4;
  padding: 5px 10px;
  border: 1px solid #250603;
  border-radius: 2px;
  background-color: rgba(75, 13, 7, 90%);
}

.dropdown:focus { 
  pointer-events:none; 
}

/* If :focus detected the dropdown menu is displayed by making it visible */
.dropdown:focus .dropdown-content { 
  opacity:1; 
  visibility:visible; 
}

.dropdown-content {
  background-color: rgba(75, 13, 7, 98%);
  padding: 0.5em 1em; 
  text-align: center;
  pointer-events: auto;
  position: absolute;
  /* Pull up to overlap the parent list item very slightly */
  top: calc(100% - 0.25rem);
  /* Use the left from absolute position to shift the left side */
  left: 50%;
  /* Use translateX to shift the menu 50% of its width back to the left  */
  transform: translateX(-50%);
  transform-origin: top center;
  opacity: 0.3;
  visibility: hidden;
  transition: 280ms all ease-out;
  z-index: 1;
  border-radius:2px;
  box-shadow: 0 0 10px #241909;
}

/* Added icon to current link */
#home_icon:before {
  content: url("../images/noun_shaker_dark_small.png");
}

#martini_icon:before {
  content: url("../images/noun_martini_icon_small.png")
}

#old_fashioned_icon:before {
  content: url("../images/noun_old_fasioned_icon_small.png")
}

#whiskey_sour_icon:before {
  content: url("../images/noun_whiskey_sour_icon_small.png")
}

#manhattan_icon:before {
  content: url("../images/noun_Manhattan_icon_small.png")
}

#moscow_mule_icon:before {
  content: url("../images/noun_copper_cup_small.png")
}

#gallery_icon:before {
  content: url("../images/noun_shaker_outline_small.png")
}

#form_icon:before {
  content: url("../images/noun_shaker_dark_small.png");
}


/* Contact form modified from SI 539: Design of Complex Websites, Prof. Colleen van Lent, UMSI, Winter 2021 */
.form_container {
  padding: 1em;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #241909;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
}

*:focus {
  background: #e3e0ddbf;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #241909;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
}

input[type=checkbox]{
  width: 5%;
  border: 1px solid #241909;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4b0d07;
  color: white;
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  padding: 14px 20px;
  margin: 8px 0;
  /* cursor: pointer; */
  cursor: url('../images/olive_cursor.png'), auto;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

/* Basic flip card design from https://www.w3schools.com/howto/howto_css_flip_card.asp */

 /* The flip card container */
 .flip-card {
  background-color: transparent;
  width: 4.5em;
  height: 4.5em;
  perspective: 1000px; /* Gives the 3D effect */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* To make the card work on a click, I followed: 
https://stackoverflow.com/questions/62418249/css-flip-card-how-can-i-activate-the-flip-via-tab-so-it-is-keyboard-accessible */
.flip-card:focus-within .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

.flip-card-front img {
  margin: 0.5em;
}

/* Style the back side */
.flip-card-back {
  background-color: #4b0d07;
  box-shadow: 0 0 10px #241909;
  color: white;
  transform: rotateY(180deg);
} 

.flip-card-back a {
  font-size: 0.75em;
  color: white;
  text-decoration: none;
  text-align: center;
}

.container a {
  margin-top: 1em;
}

/* Styling for content on Recipe Pages */

.history {
  padding: 1em 0 0 0;
}

.history p {
  line-height: 1.5;
  text-align: left;
  margin: 0.5em;
}

h2 {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  color: #73130B;
  text-transform: uppercase; 
  font-weight: bold;
}

img {
  width: 80%;
  box-shadow: 0 0 10px #241909;
  padding: 0;
  margin: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.img1_lower {
  display:none;
}

.recipe {
  width: 80%;
  border: 10px solid #241909;
  border-style: inset;
  padding: 0.5em;
  line-height: 1.5;
  text-align: left;
  background-color: #e3e0ddbf;
  margin-left: auto;
  margin-right: auto;
}

.recipe ul {
  padding: 0.5em 0.25em 0.5em 1em;
}

.recipe p {
  text-align: center;
}

h3 {
  font-size: 26px;
  line-height: 1.5;
  text-align: left;
  font-weight: normal;
}

/* Buttons modified from https://www.w3schools.com/howto/howto_css_next_prev.asp and 
https://css-tricks.com/examples/ButtonMaker/# */

.button {
  display: flex;
  justify-content: space-evenly;
}

.button a {
  text-decoration: none;
  color:#F6F5F4;
  padding: 5px 10px;
  border: 1px solid #250603;
  border-radius: 2px;
  background-color: rgba(75, 13, 7, 90%);
  margin: 1em 1em 0 1em;
}

.button a:hover, .button a:active {
  background-color:rgb(37, 6, 3);
}

.previous, .next {
  display: none;
}

footer {
  background-color: rgb(37, 6, 3);
  color: #F6F5F4;
  padding: 1em 0.5em 0.5em 0;
  text-align: center;
  box-shadow: 0 0 10px #241909;
  margin-top: 1em;
  position: sticky;
}

/* Image gallery modified from https://www.w3schools.com/css/css_image_gallery.asp*/

.gallery {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.basic_card h2 {
  margin: 0.5em 0 0 0;
  font-size: 22px;
}

.basic_card a {
  color: #73130B;
}

.button_container {
  display: none;
}

/*Tablet View*/
@media all and (min-width: 625px){

  .container {
    flex-flow: row wrap;
  }
  
  .history {
    order: -1;
  }
  
  .container img {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .img1_top {
    display: none;
  }

  .img1_lower, .img {
    display:block;
  }
  
  .recipe {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .recipe h2, p {
    grid-column: 1/ span 2;
  }

  .ingredients {
    grid-column: 1/ span 1;
  }

  .tools {
    grid-column: 2/ span 1;
  }

  .button_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  button {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    padding: 5px 10px;
    border: 1px solid #250603;
    border-radius: 2px;
    background-color: rgba(75, 13, 7, 95%);
    font-size: 85%;
    margin-top: 0.5em;
    /* cursor: pointer; */
    cursor: url('../images/olive_cursor.png'), auto;
  }

  button:hover, button:active {
    background-color:rgb(37, 6, 3);
  }

  /* Gallery layout modified from: 
  https://markus.oberlehner.net/blog/creating-a-responsive-alternating-two-column-layout-with-flexbox/ */
  
  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .basic_card {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery img {
    object-fit: cover;
  }

  .previous, .next {
    display:inline;
  }
}

/* Desktop View */
@media all and (min-width: 1025px){
  
  header{
    background-attachment: fixed; /* Adding parallax effect */
  }

  #content-mobile, #content-nonmobile {
    display:block;
    padding: 0 8em;
  }

  h1 {
    margin-top: 2em;
  }

  .dropdown {
    visibility: hidden;
    position:unset;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: center;
  }  

  .dropdown-content {
    visibility: visible;
    opacity: 1;
    background: none;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    transition: none;
    box-shadow: none;
    margin: 1em 2em;
    border: 1px solid #250603;
    border-radius: 2px;
    background-color: rgba(75, 13, 7, 90%);
    display: relative;
  }

  .dropdown-content li {
    display: inline-block;
  }

  .dropdown-content li a {
    cursor: url('../images/olive_cursor_white.png'), auto;
  }

  .button a {
    cursor: url('../images/olive_cursor_white.png'), auto;
  }

  .container {
    display: flex;
    flex-flow: column wrap;
  }

  .img_recipe1, .img_recipe2, .img_recipe3, .img_recipe4, .img_recipe5 {
    display: grid;
    position: relative;
    align-items: end;
    width: 75%;
  }

  .container img {
    position: relative;
    object-fit: cover;
    max-height: 80%;
    min-height: 20em;
    margin-left: 0;
    margin-right: 0;
  }

  .recipe {
    position: absolute;
    max-height: 60%;
    overflow: auto;
    align-content: start;
  }
  
  .img_recipe1, .img_recipe3, .img_recipe5 {
    align-self: flex-start;
    margin-left: 1em;
  }

  .img_recipe1 .recipe, .img_recipe3 .recipe, .img_recipe5 .recipe {
    margin-left: 15em;
  }

  .img_recipe2, .img_recipe4 {
    align-self: flex-end;
  }

  .img_recipe2 .img, .img_recipe4 .img {
    margin-left: 48%;
  }

  .basic_card {
    margin: 0.25em;
    max-width: 30%;
  }
  
  .basic_card h2 {
    padding-right: 3em;
  }

  .basic_card a {
    cursor: url('../images/olive_cursor.png'), auto;
  }

  .basic_card img {
    cursor: url('../images/olive_cursor_white.png'), auto;
  }

  .gallery img {
    filter: grayscale(100%);
  }
  .gallery img:hover {
    filter: none;
  }
}

/* The code below is included for accessibility to turn off animations and movement for people who have 
modified their preferences to reduce motion. */

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}